.body-page {
  // background: url("../images/404page/404page.jpg") no-repeat center center;
  width: 100%;
  text-align: center;
  background-size: cover;
  position: relative;

  .content {
    padding-top: 287px;
    padding-bottom: 340px;
    max-width: 580px;
    margin: 0 auto;
    @media (max-width: 480px) {
      padding-top: 110px;
      padding-bottom: 60px;
    }
    .form-group {
      position: relative;
      width: auto;
      display: inline-block;
      @media (max-width: 480px) {
        display: block;
      }
    }
    .no-padding {
      padding: 0;
    }
    .page404 {
      font-size: 178px;
      font-weight: 300;
      letter-spacing: 6px;
      color: #fff;
    }
    .h3-404 {
      font-size: 27px;
      font-weight: 400;
      margin-top: -30px;
      margin-bottom: 37px;
      color: #fff;
    }
    .p-404 {
      color: #cccccc;
      font-size: 18px;
      &.size {
        font-size: 16px;
      }
      a {
        color: #fff;
        font-weight: 600;
      }
      a:hover {
        text-decoration: none;
        color: $color-hover;
      }
    }
    .navbar-form {
      margin-top: 43px;
      margin-bottom: 20px;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      @media (max-width: 480px) {
        margin-top: 15px;
      }
      .form-control {
        width: 372px;
        height: 42px;
        padding-left: 20px;
        border-radius: 0px;
        background: transparent;
        border: 2px solid white;
        color: #fff;
        &::placeholder {
          color: white;
          font-size: 14px;
          font-weight: 400;
          font-family: "Poppins", Arial, sans-serif;
        }
      }
      .btn {
        width: 124px;
        height: 42px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background: transparent;
        border: 2px solid white;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
        margin-left: 10px;
        @media (max-width: 480px) {
          margin-left: 0 !important;
          margin-top: 10px;
        }
        &:hover {
          background: #8e7037;
          border: 1px solid #8e7037;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .body-page {
    &.page-login {
      height: 70rem;
    }
    .content {
      .navbar-form {
        .form-control {
          width: 100%;
        }
        .btn {
          margin-left: 10px;
        }
      }
    }
  }
}
