//1.3 Variable

$font-family-Poppins: "Poppins", sans-serif !default;
$font-family-playfair: "Playfair Display", serif !default;

$theme-color: blue !default;
$color-white: #ffffff;
$color-black: #293241;
$color-gray: #333333;
$color-hover: #98c1d9;

$color-blue: #98c1d9;
$color-blue-dark: #3d5a80;
$color-blue-light: #e0fbfc;

$color-orange: #ee6c4d;
